$dark-blue: #0A2973;
$mid-blue: #0A4B8C;
$mid-blue-2: #B8CADC;
$dark-blue-2: #0A1863;
$light-blue-1: #D4E1F0;
$light-blue-2: #E0E9F3;
$light-blue-3: #EEF3F9;
$light-blue-4: #F6F9FC;
$light-blue-5: #ECF2F8;
$mid-blue-3: #4C6BB1;
$grey-1: #474747;
$grey-2: #595959;
$grey-3: #B2B2B2;
$grey-4: #EFEFEF;
$grey-5: #F9F9F9;
$orange: #F8A44A;
$orange-2: #FCE8D3;
$red: #B71126;
$green: #1E6645;
$bright-green: #93CD51;
$pale-green: #CFE2A3;
$purple: #8d418d;
